<?php
    $form = \form\Form::form();
?>
<div class="row">
    <div class="col-xs-12 col-xs-12">
        <div class="widget radius-bordered">
            <div class="widget-header bg-blue">
                <i class="widget-icon fa fa-arrow-down"></i>
                <span class="widget-caption">名称</span>
                <div class="widget-buttons">
                    <a href="#" data-toggle="maximize">
                        <i class="fa fa-expand"></i>
                    </a>
                    <a href="#" data-toggle="collapse">
                        <i class="fa fa-minus"></i>
                    </a>
                    <a href="#" data-toggle="dispose">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="widget-body">
                <div class="form-title">
                    <a href="/agent/area/index" class="btn btn-primary" data-loader="App-loader" data-loadername="列表">
                        <i class="fa fa-mail-reply"></i>返回
                    </a>
                </div>
                
                <form id="AppForm" action="" method="post" class="form-horizontal" data-bv-message="" data-bv-feedbackicons-valid="glyphicon glyphicon-ok" data-bv-feedbackicons-invalid="glyphicon glyphicon-remove" data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">
                    	<div class='form-group'>
							<label class='col-lg-2 control-label'>名称<sup></sup></label>
							<div class='col-lg-4'>
								<?= $form->text('area_name', $model->area_name,['class'=>'form-control']) ?>
							</div>
						</div>
						<div class='form-group'>
							<label class='col-lg-2 control-label'>地址<sup></sup></label>
							<div class='col-lg-4'>
								<?= $form->text('area_address', $model->area_address,['class'=>'form-control', 'id'=> 'area_address']) ?>
							</div>
                            <a href="javascript:tencentDitu('area_address', '', '');void(0);">获取地址</a>
						</div>

						<div class='form-group'>
							<label class='col-lg-2 control-label'>帐号<sup></sup></label>
							<div class='col-lg-4'>
								<?= $form->text('username', $model->username,['class'=>'form-control']) ?>
							</div>
						</div>
						<div class='form-group'>
							<label class='col-lg-2 control-label'>密码<sup></sup></label>
							<div class='col-lg-4'>
								<?= $form->text('password', $model->password,['class'=>'form-control']) ?>
							</div>
						</div>
					
                    
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-4">
                            <button class="btn btn-primary btn-lg" type="submit">保存</button>&nbsp;&nbsp;
                            <button class="btn btn-palegreen btn-lg" type="reset">重置</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var editer = [];
    
    $('#AppForm').bootstrapValidator({
        submitHandler: function (validator, form, submitButton) {
            var tourl = "{:url('/agent/area/' . (isset($model) ? 'edit?id='.$model->area_id : 'add') )}";
            
            for(var i in editer) {
                editer[i].sync();
            }
            
            var data = $('#AppForm').serialize();
            $.App.ajax('post', tourl, data, null);
            $("button[type='submit']").attr("disabled", false);
            return false;
        }
    });
    
    $(".editer").each(function(){
        var id = $(this).attr('id');
        editer.push(Kediter.create('#'+id,{
            uploadJson : '/agent/upload/kindEditor',
            fileManagerJson : '/agent/upload/kindEditorFileManager',
            allowFileManager : true
        }));
    });
    
    $('.dept_select').chosen(); //下拉搜索框
    
    
    //文件上传
    $(".picker").each(function(){
        var upid = $(this).attr('id');
        var uploader = WebUploader.create({

            auto: true,
            // swf文件路径
            swf: '/public/static/webuploader/Uploader.swf',

            // 文件接收服务端。
            server: '/agent/upload/file',

            // 选择文件的按钮。可选。
            // 内部根据当前运行是创建，可能是input元素，也可能是flash.
            pick: '#' + upid,

            // 不压缩image, 默认如果是jpeg，文件上传前会压缩一把再上传！
            resize: false,
        });

        uploader.on('uploadSuccess', function (file,data) {
            if(data.code == 1) {
                $('input[name="'+upid+'"').val(data.data);
            } else {
                layer.msg(data.msg);
            }
        });
    });
        
</script>