<?php
    use \app\common\tool\Power;
?>
<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="widget">
            <div class="widget-header bg-blue">
                <i class="widget-icon fa fa-arrow-down"></i>
                <span class="widget-caption">列表</span>
                <div class="widget-buttons">
                    <a href="#" data-toggle="maximize">
                        <i class="fa fa-expand"></i>
                    </a>
                    <a href="#" data-toggle="collapse">
                        <i class="fa fa-minus"></i>
                    </a>
                    <a href="#" data-toggle="dispose">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="widget-body">
                <div class="table-toolbar">
                    <?php if(Power::check('bucket/add')): ?>
                    <a href="/agent/bucket/add" class="btn btn-info" data-loader="App-loader" data-loadername="添加">
                        <i></i>添加
                    </a>
                    <?php endif;?>
                    
                    {if condition="$hasExport"}
                    <a href="" target="_blank" class="btn btn-info" id="export" data-loadername="导出">
                        <i></i>导出
                    </a>
                    {/if}

                    <!--搜索-->
                    <div class="pull-right">
                        <form id="App-search">
                            {$searchHtml}
                            <a href="{:url('/agent/bucket/index')}" class="btn btn-success" data-loader="App-loader" data-loadername="列表" data-search="App-search">
                                <i class="fa fa-search"></i>搜索
                            </a>
                        </form>
                    </div>
                </div>

                <!--数据列表-->
                <table id="App-table" class="table table-bordered table-hover">
                    <thead class="bordered-darkorange">
                    <tr role="row">
                        <th>id</th>

						<th>rfid</th>

						<th>设备ID</th>

                        <th>设备名称</th>

						<th>用户</th>

                        <th>用户昵称</th>


                        <th>水名称</th>


						<th>状态</th>

						<th>场地</th>

						<th>添加时间</th>

						
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {volist name="list" id="vo"}
                    <tr>

                        <td>{$vo['bucket_id']}</td>

						<td>{$vo['rfid']}</td>

						<td>{$vo['device_id']}</td>

                        <th>{$vo['device']['device_name']}</th>

						<td>{$vo['user_id']}</td>

                        <td>{$vo['user']['nickname']}</td>


                        <td>{$vo['device']['waterBrand']['water_brand_name']}</td>

						<td>{$status[$vo['status']]}</td>

						<td>{$vo['area']['area_name']}</td>

						<td>{$vo['ctime']}</td>


                        <td>
                            <?php if(\app\common\tool\Power::check('bucket/del')): ?>
                                {if condition="empty($vo->user_id) && empty($vo->device_id)"}
                                    <a href="{:url('/agent/bucket/del')}" class="btn btn-danger btn-xs" data-type = "del" data-ajax="{:url('/agent/bucket/del',array('id'=>$vo['bucket_id']))}"><i class="fa fa-trash-o"></i> 删除</a> &nbsp;&nbsp;&nbsp;&nbsp;
                                {/if}
                            <?php endif;?>

                            <?php if(\app\common\tool\Power::check('bucket/retrieve')): ?>
                                {if condition="$vo->device_id"}
                                    <a href="{:url('/agent/bucket/retrieve')}" class="btn" data-type = "dispose" data-ajax="{:url('/agent/bucket/retrieve',array('id'=>$vo['bucket_id']))}"><i class="fa"></i> 收回</a> &nbsp;&nbsp;&nbsp;&nbsp;
                                {/if}
                            <?php endif;?>
                        </td>
                    </tr>
                    {/volist}
                    </tbody>
                </table>
                <div class="row DTTTFooter">
                    {$page}
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function(){
        //导出EXCEL
        $("#export").attr('href', "{:url('/agent/bucket/index')}?export=1&" + $('#App-search').serialize())
    })
</script>
